# dependencies
node_modules/
**/node_modules/

# production
build/
dist/

# env files
.env
.env.*
**/.env
**/.env.*
server/config.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
coverage/
